{:name "Rook Book"
 :description "Documentation for the Rook library."
 :github "AvisoNovate/rook"
 :page-order ["index"
              "example"
              "getting-started"
              "arguments"
              "namespaces"
              "middleware"
              "validation"
              "injection"
              "async"
              "end-to-end"
              "loopbacks"
              "swagger"
              "dev"
              ]
 :page-names  {"index"  "About Rook"
               "dev" "Developer Features"
               "arguments" "Function Arguments"
               "async" "Async"
               "end-to-end" "End To End Async"
               "example" "Example"
               "getting-started" "Getting Started"
               "injection" "Injection"
               "loopbacks" "Async Loopbacks"
               "middleware" "Middleware"
               "namespaces" "Namespaces"
               "swagger" "Swagger"
               "validation" "Validation"
               }}
