{:name        "Rook Manual"
 :description "Sane, smart, fast, Clojure web services."
 :github      "AvisoNovate/rook"
 :api         "http://howardlewisship.com/io.aviso/rook/"
 :pages       ["index"
               "example"
               "getting-started"
               "arguments"
               "namespaces"
               "middleware"
               "validation"
               "injection"
               "async"
               "end-to-end"
               "loopbacks"
               "swagger"
               "dev"
               ] }